<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HR application</title>
</head>
<body>

<h1>List of employees</h1>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Job title</th>
        <th>Salary</th>
        <th>Entry date</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="employees : ${employees}">
        <td th:text="${employees.id}">Id</td>
        <td><a th:href="@{/employees/{id}(id = ${employees.id})}" th:text="${employees.name}">Name</a></td>
        <td th:text="${employees.job}">Job title</td>
        <td th:text="${employees.salary}">Salary</td>
        <td th:text="${employees.timestamp}">Entry Date</td>
        <td><a th:href="@{/deleteEmployee/{id}(id=${employees.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<br>
<br>

<form th:action="@{/employees}" method="post" th:object="${newEmployee}">
    Id: <input th:field="*{id}" /><br>
    Name: <input th:field="*{name}" /><br>
    Job title: <input th:field="*{job}" /><br>
    Salary: <input th:field="*{salary}" /><br>
    Entry date: <input th:field="*{timestamp}" /><br>
    <input type="submit" value="Add" />
</form>

</body>
</html>