<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HR application</title>
</head>
<body>
    <h1>Modify employee</h1>

    <form th:action="@{/modifyEmployee}" method="post" th:object="${editableEmployee}">
        Id: <span th:text="*{id}" ></span><br>
        <input th:field="*{id}" type="hidden"/>
        Name: <input th:field="*{name}" /><br>
        Job title: <input th:field="*{job}" /><br>
        Salary: <input th:field="*{salary}" /><br>
        Entry date: <input th:field="*{timestamp}" /><br>
        <input type="submit" value="Change" />
    </form>
</body>
</html>